@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: rgb(255, 255, 255);
    color: rgb(30, 29, 29);
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    }

asd {
    color: #fff;
}

nav {
    width: 960px;
    margin: 0 auto;
}

nav::before {
    content: '';
    display:block;
    height: 50px;
    width: 100%;
    background: #000;
    position: absolute;
    left: 0;
    z-index: -1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 60px;
}

ul li {
    float: left;
}
ul li a{
    color: #fff;
    display:black;
    height: 60px;
    padding: 0 30px;
    text-transform: uppercase;
    text-decoration-color: #fff;
    line-height:50px;
}

ul li a:hover {
    background: #d34d43;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: gray;
}

    .hd {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0,0,0,25);
}

.info p {
    color: rgb(200, 200, 200);
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: capitalize; */
    /* letter-spacing: 15px; */
    /* word-spacing: 42px; */
}

/* Box Model */
.container {
    max-width: 750px;
    margin: auto;
    margin-top: 20px;
}

  /*.soc {/*
    /*background: blue;*/
    /* padding: 15px; */
    /* padding: 15px 40px; */
    /* padding: 15px 20px 25px 30px;
    
    border: 5px solid black;
    border-bottom-style:dotted ;
    border-top-width: 15px;
    border-right-color: brown; */
  
.bg-yelow{
background: #ffd500
}

.bg-blue{
background: #3051ab
}

.bg-green{
background: #c94b4b;
}


    .card {
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

    .card h2{
        margin-bottom: 10px;
    }